.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-accent: hsl(31, 77%, 52%);
  --primay-color-600: hsl(184, 100%, 22%);
  --primary-color-800: hsl(179, 100%, 13%);

  --neutral-color-paragraphs: hsla(0, 0%, 100%, 0.75);
  --neutral-color: hsl(0, 0%, 95%);
}

html {
  font-family: "Big Shoulders Display", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--neutral-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 350px;
  margin-bottom: 2rem;
}

.section-one {
  background-color: var(--primary-color-accent);
  padding: 50px 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px 10px 0 0;
}

.section-one::before {
  content: url(images/icon-sedans.svg);
}

.section-two {
  background-color: var(--primay-color-600);
  padding: 50px 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-two::before {
  content: url(images/icon-suvs.svg);
}

.section-three {
  background-color: var(--primary-color-800);
  padding: 50px 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 0 0 10px 10px;
}

.section-three::before {
  content: url(images/icon-luxury.svg);
}

h2 {
  color: var(--neutral-color);
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
}

p {
  color: var(--neutral-color-paragraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.45em;
}

button {
  background-color: var(--neutral-color);
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  width: 50%;
  font-family: "Lexend Deca", sans-serif;
}

.section-one button {
  color: var(--primary-color-accent);
}

.section-two button {
  color: var(--primay-color-600);
}

.section-three button {
  color: var(--primary-color-800);
}

@media screen and (min-width: 850px) {
  .container {
    max-width: 75vw;
    display: flex;
  }
  .section-one {
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .section-three {
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  button {
    width: 75%;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
